
<div class="col-md-4" ></div>
<div class="center">
 <div class="col-md-4" style="padding:15px;">
<form class="formSignin" (submit)="selectUsr($event)">
<h2 class="form-signin-heading">Please sign in</h2>
<hr>
<input type="email" id="inputEmail" class="form-control" placeholder="Email address" style="margin-bottom:5px;"required="" autofocus="">
<input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
<div class="checkbox">
</div>
<div style="float:right">
    <button class="btn btn-primary" style="width:200px;" type="submit">Sign in</button>
  </div>
</form>
</div>
</div>
<div class="col-md-4"></div>
